<header>



<div id="flex">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
</div>
<hr/>
<div id="flex2">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
</div>
<hr/>
<div id="flex3">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
</div>
<hr/>
<div id="flex4">
  <div class="item big">1</div>
  <div class="item small">2</div>
  <div class="item">If you liked this, you should see what's in the book.</div>
  <div class="item">Blow away your clients with your fast turnaround time. Bend CSS layouts to your will. Show your clients comps they can actually click on.</div>
</div>
<nav>
  <ul>
    <li>link</li>
    <li>link</li>
  </ul>
</nav>
</header>
<section id="main">
  
</section>





